- if @apartament.errors.any?
  :javascript
    $(".signup_box").height(460+ 29.5 * gon.error_count);
  #error_explanation
    .alert.alert-danger
      The form contains #{pluralize(@apartament.errors.count, "error")}.
    %ul
      - @apartament.errors.full_messages.each do |msg|
        %li= msg