- if @apartament.errors.any?
  #error_explanation
    .alert.alert-danger
      The form contains #{pluralize(@apartament.errors.count, "error")}.
    %ul
      - @apartament.errors.full_messages.each do |msg|
        %li= msg