// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.home_page_container{
    height: 100%;
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index_apartament_container{
    height: 100vh;
    width: 100%;
    margin-top: 20px;
    padding: 0;
    // background: url(buildings.jpg) no-repeat center;
    // background-size: cover;
    // background-position: center;
    // background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index_apartament_container ul{
    padding: 20px;
    background: white;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    a{
        padding-left: 2px;
        padding-right: 2px;
    }
    margin-bottom: 0;
}

.help_page_container{
    height: 100%;
    width: 100%;
    margin-top: 50px;
}

.contact_page_container{
    height: 100%;
    width: 100%;
    margin-top: 50px;
}

.about_page_container{
    height: 100%;
    width: 100%;
    margin-top: 50px;
}